
/* 
    Created on : 13 sept. 2020, 22:48:19
    Author     : dro
*/

div.tecnibo-widget-submenu{
    /*border: 1px solid #f00;*/
    text-align: left;
    h1.title-tecnibo-widgets{
        margin: 0 0 11px;
        font-family: Oswald,sans-serif;
        font-size: 18px;

    }
    img{
        width:200px;
        height: auto;
        opacity: .8;
    }
    a{
        display: block;
        margin: 10px;
        font-size: 16px;
        &:hover{
            background-color: #fff!important;
            
            img{
                opacity: 1;
            }
            h2{
            color: #e80100!important;    
            }
        }
    }

}